<div class="container-fluid hm-pg">
    <div class="container">
        <div class="ui center aligned container hm-pg-inner">
            <h1 class="display-3 h1-font">LaRManS 2018 </h1>
            <p class="lead detail"><em><b>LaRManS 2018, </b></em> is a <em>Land Record Management System </em>, design purposely <br> to handle the following administration process:
            </p>
            <ol class="detail">
                1. Client Side Land Record Management <br> 2. Percel Charting, Editing, Updating and Verification.
            </ol>


        </div>

    </div>

</div>